{% extends "main.html" %}

{% block main %}

    <div class="homepage" id="content-onecol"> 


<h2>A Project to Mirror, Index, and Cross-Post the Images and Metadata in Federal Government Image Libraries.</h2> 
 
{% for image_database, db in image_databases.items %}
<h3>{{db.long_name}}</h3>
<p class="big_homepage_links"> 
<!--
this kinda works but it's pretty hacky
<span> 
    <a href="/{{image_database}}/view_random">View a random image &raquo;</a> 
</span> 
-->
 
<span> 
    <a href="/{{image_database}}/view/1">Browse the database from the beginning &raquo;</a> 
</span> 

<span> 
    <a href="{{db.code_url}}">Scraper code library &raquo;</a> 
</span> 
 
</p> 
{% endfor %}

<h3>General</h3>
<p class="big_homepage_links"> 
<span> 
    <a href="/about">About &raquo;</a> 
</span> 
<span> 
    <a href="static/data/">Browse the raw data &raquo;</a> 
</span> 
<span> 
    <a href="https://github.com/gameguy43/usable_image_scraper">General scraper code &raquo;</a> 
</span> 
</p>



</div>
{% endblock %}
